.language-switcher {
  margin-top: 80px;
  text-align: center;

  button {
    font-family: "Orbitron", sans-serif;
    width: 300px;
    padding: 5px 10px;
    cursor: pointer;

    .mini-flag {
      width: 15px;
      height: 10px;
    }
  }
}
