.film-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
