.film-list {
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters input,
.filters select {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
}

.film-cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.no-films-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
